html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    max-width: 300px;
}

.title {
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.login-form {
    width: 100%;
    padding: 0 10px;
}

.login-input {
    height: 40px;
    width: 100%;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    outline: none;
}
.login-input.password {
    margin-top: 20px;
}
.login-input:focus {
    border-bottom: 1px solid skyblue;
}
.login-input.error {
    border-bottom-color: red;
}


.submit-btn {
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    background-color: #00bfff;
    border: none;
    box-shadow: none;
    color: #fff;
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.submit-btn:hover {
    background-color: #00b2ee;
}
.submit-btn[disabled],
.submit-btn[disabled]:hover {
    background-color: #65d7fd;
    cursor: not-allowed;
}

.top-left.links {
    position: absolute;
    left: 10px;
    top: 18px;
}

.header {
    margin-bottom: 50px;
}

.contain {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.top-center.logo {
    position: relative;
    top: 18px;
    margin: 0 auto;
    width: 150px;
    max-width: 150px;
    max-height: 150px;
    text-align: center;
}

.centered.links {
    margin-top: 70px;
    text-align: center;
    position: relative;
}

.status-none {
    color: #2ecc71;
}

.page-status {
    font-weight: 500;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.1);
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    margin-bottom: 70px;
    padding: .75rem 1.25rem;
    font-family: "Avenir Next", "Proxima Nova", "Helvetica Neue", sans-serif;
}
.page-status.status-none {
    background-color: #5bc3b6;
}
.page-status.status-warning {
    background-color: #5bc3b6;
}
.page-status.status-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    opacity: 1;
}
.page-status .status {
    color: #fff;
    position: relative;
    top: 2px;
}

.font-large {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    font-size: 1.25rem;
    line-height: 1.8125rem;
}
.page-status .last-updated-stamp {
    font-weight: 400;
    color: rgba(255,255,255,0.9);
    float: right;
    position: relative;
    top: 7px;
}